name: Build
on:
  workflow_dispatch:
  push:
    branches:
       - main
    paths-ignore:
      - "**.md"
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]
    paths-ignore:
      - "**.md"

concurrency:
  group: build-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test_build:
    name: "Local tests and build"
    runs-on: ubuntu-latest
    timeout-minutes: 40
    outputs:
      commit_epoch: ${{ steps.get_version.outputs.commit_epoch }}
      version_code: ${{ steps.get_version.outputs.version_code }}

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup JDK 21
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/main' || github.event_name != 'push' }}
          build-scan-publish: true
          build-scan-terms-of-use-url: "https://gradle.com/terms-of-service"
          build-scan-terms-of-use-agree: "yes"

      - name: Run local tests
        id: localtest
        continue-on-error: true
        run: ./gradlew :app:testDebugUnitTest --no-scan --no-configuration-cache --stacktrace

      - name: Upload test report
        if: steps.localtest.outcome == 'failure'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: test-reports
          path: app/build/reports/tests/testDebugUnitTest
          retention-days: 14
          compression-level: 9

      - name: Check test result
        continue-on-error: false
        if: steps.localtest.outcome == 'failure'
        run: echo "::warning::Local tests failed, please check test reports in artifacts" && exit 1

      - name: Build with Gradle
        if: ${{ !cancelled() }}
        run: ./gradlew assembleCi --no-configuration-cache --stacktrace

      - name: Get version
        id: get_version
        run: |
          set -e

          epoch=`git log -1 ${{ github.sha }} --format=%cd --date=unix`
          version_code=`jq -r ".elements[0].versionCode" app/build/outputs/apk/ci/output-metadata.json`
          echo "version_code=$version_code" >> "$GITHUB_OUTPUT"
          echo "commit_epoch=$epoch" >> "$GITHUB_OUTPUT"

      - name: Upload artifacts
        if: ${{ github.ref == 'refs/heads/main' && github.event_name == 'push' }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ci-artifact
          path: 'app/build/outputs/apk/ci/app-ci-unsigned.apk'
          if-no-files-found: error

  sign:
    name: "Sign and upload"
    if: ${{ github.ref == 'refs/heads/main' && github.event_name == 'push' }}
    runs-on: ubuntu-latest
    needs: test_build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: ci-artifact
          path: out
          merge-multiple: true

      - name: Delete artifact
        uses: geekyeggo/delete-artifact@f275313e70c08f6120db482d7a6b98377786765b # v5.1.0
        with:
          name: ci-artifact
          failOnError: false

      - name: Sign CI app
        uses: r0adkll/sign-android-release@f30bdd30588842ac76044ecdbd4b6d0e3e813478
        id: sign_app
        with:
          releaseDirectory: out
          signingKeyBase64: ${{ secrets.KEYSTORE }}
          alias: ${{ secrets.RELEASE_KEY_ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.RELEASE_KEY_PASSWORD }}
        env:
          BUILD_TOOLS_VERSION: "36.0.0"

      - name: Rename apk
        env:
          VERSION_CODE: ${{ needs.test_build.outputs.version_code }}
        run: |
          sha=`echo ${{ github.sha }} | cut -c1-8`
          apk_name="TiebaLite.CI.$VERSION_CODE.$sha"
          mv out/app-ci-unsigned-signed.apk "${apk_name}.apk"
          echo "APK_NAME=$apk_name" >> "$GITHUB_ENV"

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ env.APK_NAME }}
          path: 'TiebaLite.CI.*.apk'

      - name: Print summary
        run: |
          commit_time=`TZ=Asia/Shanghai date -Iseconds -d "@${{ needs.test_build.outputs.commit_epoch }}"`
          {
            echo "### 构建完成 :zap:"
            echo ""
            echo "提交哈希 \`${{ github.sha }}\`, 创建于 $commit_time"
            echo ""
          } >> "$GITHUB_STEP_SUMMARY"
